{% extends 'base.html' %}
{% block title %}Parcelas e Taxa de Juros{% endblock %}
{% block content %}
    <h1>Informe a Quantidade de Parcelas, Taxa de Juros e a Data da 1ª Parcela</h1>
    <form method="post">
        <div class="form-row">
            <label for="parcelas">Quantidade de Parcelas:</label>
            <input type="number" id="parcelas" name="parcelas" required min="1" max="36">
        </div>
        <div class="form-row">
            <label for="taxa_juros">Taxa de Juros (% ao mês):</label>
            <input type="number" step="0.01" id="taxa_juros" name="taxa_juros" required>
        </div>
        <div id="datas_parcelas">
            <div class='form-row'>
                <label for="data_parcela_1">Data da 1ª parcela:</label>
                <input type="date" id="data_parcela_1" name="data_parcela_1" required>
            </div>
        </div>
        <div class="button-row">
            <button type="submit">Calcular</button>
        </div>
    </form>
    <!-- Agora solicita apenas a primeira data; as demais serão geradas com intervalo de 30 dias -->
{% endblock %}
